<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {%if site.color-scheme %}
      <link rel="stylesheet" href="{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", site.color-scheme | append: site.github.build_revision | relative_url }}">
    {% else %}
      <link rel="stylesheet" href="{{ "/assets/css/colors-auto.css?v=" | append: site.github.build_revision | relative_url }}">
    {% endif %}
    {% if page.title != null and page.title != "" %}
      <title>{{ site.title | append: " - " | append: page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
    {% include head-custom.html %}
    {% seo title=false %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{ site.logo | relative_url }}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.show_navigation %}
        <ul class="navigation">
          {% for item in site.data.navigation %}
            {% if page.path == item.url %}
              <li class="selected"><a href="{{ item.url }}"><strong>{{ item.title }}</strong></a></li>
            {% else %}
              <li><a href="{{ item.url }}"><strong>{{ item.title }}</strong></a></li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>